[web]
    browser = google-chrome

[init]
    defaultBranch = main

[help]
    autocorrect = 5

[alias]
    pl = pull
    ps = push
    ch = checkout
    st = status
    ad = add
    cm = commit
    fe = fetch
    lo = log
    di = diff
    
